<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!-- TODO title -->
    <title>Title - Dilan Nair</title>
    <!-- TODO title -->
    <meta property="og:title" content="Title - Dilan Nair" />
    <!-- TODO page description -->
    <meta name="description" content="Page description" />
    <!-- TODO page description -->
    <meta property="og:description" content="Page description" />
    <meta property="og:type" content="website" />
    <!-- TODO page URL -->
    <meta property="og:url" content="https://www.dilanxd.com" />
    <meta
      property="og:image"
      content="https://www.dilanxd.com/images/profile_white.png"
    />
    <link rel="shortcut icon" type="image/x-icon" href="favicon.ico?" />
    <link rel="stylesheet" href="/style/style.css" />
    <script
      src="https://kit.fontawesome.com/272ac1b8d8.js"
      crossorigin="anonymous"
    ></script>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script>
      $(function () {
        $('#header').load('/base/header.html');
        $('#footer').load('/base/footer.html');
      });
    </script>
    <script
      async
      src="https://www.googletagmanager.com/gtag/js?id=G-2T5NF1VGGK"
    ></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag('js', new Date());

      gtag('config', 'G-2T5NF1VGGK');
    </script>
  </head>
  <body>
    <div id="header"></div>

    <!-- TODO content -->

    <div id="footer"></div>
  </body>
</html>
