@font-face {
    
    font-family: Poppins;
    src: url(fonts/Poppins-Light.ttf);
    font-weight: normal;

}

@font-face {
    
    font-family: Poppins;
    src: url(fonts/Poppins-Medium.ttf);
    font-weight: bold;

}

@font-face {

    font-family: Poppins;
    src: url(fonts/Poppins-Bold.ttf);
    font-weight: 800;

}

:root {

    --header-foreground-dark: #000000E6;
    --header-foreground-light: #FFFFFFE6;
    --header-background-dark: #222222CC;
    --header-background-light: #FFFFFFCC;
    --header-fontsize-big: 32px;
    --header-fontsize-mid: 24px;
    --header-fontsize-small: 16px;
    
    --header-current: var(--header-foreground-dark)

}