#nav {
  overflow: hidden;
  background-color: #ffffff;
  padding: 80px 10px;
  transition: 0.4s;
  position: fixed;
  width: 95%;
  top: 0;
  z-index: 99;
  
}

#nav a {
  float: left;
  color: black;
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-size: 18px;
  line-height: 25px;
  border-radius: 4px;
}

#nav #title {
  font-size: 35px;
  font-weight: bold;
  transition: 0.4s;
}

#nav-links {
  float: right;
}

body {
  font: normal 12px Arial;

}