@font-face {
    font-family: Poppins;
    src: url(fonts/Poppins-Light.ttf);
    font-weight: normal;
}
@font-face {
    font-family: Poppins;
    src: url(fonts/Poppins-Regular.ttf);
    font-weight: 500;
}
@font-face {
    font-family: Poppins;
    src: url(fonts/Poppins-Medium.ttf);
    font-weight: bold;
}
@font-face {
    font-family: Poppins;
    src: url(fonts/Poppins-Bold.ttf);
    font-weight: 800;
}
:root {
    --nav-bg-l: #ffffffe6;
    --nav-bg-d: #111111e6;
    --nav-fg-l: #000000e6;
    --nav-fg-d: #ffffffe6;
    --nav-bg-c: var(--nav-bg-l);
    --nav-fg-c: var(--nav-fg-l);
    --nav-h-l: 135px;
    --nav-h-s: 45px;
    --nav-h-c: var(--nav-h-l);
}

#nav {
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 99;
    background-color: var(--nav-bg-c);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    transition: 0.4s;
    display: flex;
    align-items: center;
    height: var(--nav-h-c);
}

#nav-title {
    font-size: 24px;
    text-align: center;
    color: var(--nav-fg-c);
    font-weight: bold;
    text-decoration: none;
    margin: 0 50px;
    opacity: 1;
    transition: opacity 150ms;
}

#nav-title:hover {
    opacity: 0.6;
}

#nav-show {
    margin-left: auto;
    margin-right: 50px;
    height: 26px;
}

#nav-show .layer-1 {
    width: 20px;
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    margin: 0;
}

#nav-show .layer-1:before,
#nav-show .layer-1:after,
#nav-show .layer-2 {
    background: var(--nav-fg-c);
    content: '';
    display: block;
    height: 2px;
    border-radius: 3px;
    margin: 5px 0;
    transition: 0.5s;
    box-sizing: border-box;
}

#nav-show.open .layer-1:before {
    transform: translateY(7px) rotate(135deg);
}

#nav-show.open .layer-1:after {
    transform: translateY(-7px) rotate(-135deg);
}

#nav-show.open .layer-2 {
    transform: scale(0);
}

#nav-overlay {
    height: 0%;
    width: 100%;
    position: fixed;
    margin: 0;
    z-index: 100;
    top: var(--nav-h-l);
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--nav-bg-l);
    overflow-y: hidden;
    transition: height 0.5s;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
}

#nav-links-desktop {
    display: none;
}

#nav-links-mobile {
    position: relative;
    top: 10%;
    width: 100%;
    text-align: center;
}

.nav-links ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.nav-links ul.text li {
    display: block;
    margin: 0;
    font-size: 56px;
    font-weight: 800;
}

.nav-links ul.icon li {
    display: inline-block;
    margin: 0 10px;
}

.nav-links a {
    text-decoration: none;
    color: var(--nav-fg-c);
}

.nav-links ul.text li a {
    opacity: 0.3;
    transition: opacity 150ms;
}

.nav-links ul.text li a.active {
    opacity: 1;
}

.nav-links ul.text li a:hover {
    opacity: 1;
}

.nav-links ul.text li a:focus {
    opacity: 1;
}

.nav-links ul.icon li a {
    opacity: 0.6;
    transition: opacity 150ms;
}

.nav-links ul.icon li a:hover {
    opacity: 1;
}

.nav-links li a i {
    font-size: 32px;
    vertical-align: middle;
    margin: 80px 0;
}

#footer-contents {
    background-color: #222222;
    margin: 0;
    color: white;
    padding: 20px;
    text-align: center;
    font-size: 14px;
}

#footer-contents p {
    display: block;
    margin: 5px;
    color: #a0a0a0;
}

#footer-contents a {
    color: #e0e0e0;
    text-decoration: none;
}

#footer-contents a:hover {
    text-decoration: underline;
}

.heading-block {
    padding: 200px 20px;
    color: black;
}

.heading-block.less-padding {
    padding: 100px 20px;
}

.heading-block.dark {
    color: white;
}

.heading-block .content {
    margin: 0 auto;
    max-width: 1200px;
}

.heading-block .title {
    font-size: 56px;
    font-weight: bold;
    text-align: center;
    margin: 20px 0;
}

.heading-block .subtitle {
    font-size: 24px;
    font-weight: normal;
    text-align: center;
    margin: 10px 0;
}

.heading-block .button {
    text-align: center;
    padding: 40px;
    font-size: 18px;
    font-weight: bold;
}

.heading-block .button a {
    color: white;
    background-color: black;
    padding: 10px 20px;
    text-decoration: none;
    opacity: 1;
    transition: all 150ms;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px,
        rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
}

.heading-block .button a:hover {
    opacity: 0.6;
}

.display-block {
    height: 600px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    margin: 20px 10px;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px,
        rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
    overflow: hidden;
}

.display-block .image {
    height: 250px;
}

.display-block .image img {
    width: auto;
    height: 250px;
    display: block;
    margin: 0 auto;
}

.display-block .text {
    margin: 20px 0;
    color: black;
    text-align: center;
}

.display-block .text.dark {
    color: white;
}

.display-block .text .title {
    font-size: 28px;
    font-weight: 500;
    margin: 0;
}

.display-block .text .description {
    font-size: 18px;
    margin: 0;
}

.display-block .text .links {
    margin: 10px 0;
    font-size: 20px;
    text-align: center;
}

.display-block .text .links a {
    color: inherit;
    text-decoration: none;
    display: inline-block;
    margin: 8px 8px;
}

.display-block .text .links a i {
    margin-right: 5px;
}

.display-block .text .links a:after {
    display: block;
    content: '';
    border-bottom: 1px solid;
    border-bottom-color: inherit;
    transform: scaleX(0);
    transition: transform 250ms ease-out;
    transform-origin: 100% 50%;
}

.display-block .text .links a:hover:after {
    transform: scaleX(1);
    transform-origin: 0% 50%;
}

.display-block .text .sublinks {
    margin: 0;
    font-size: 16px;
}

.display-block .text .sublinks a {
    color: #a3a3a3;
    text-decoration: none;
    display: block;
    margin: 0 8px;
    transition: color 150ms;
}

.display-block .text .sublinks a i {
    margin-right: 5px;
}

.display-block .text .sublinks a:hover {
    color: inherit;
}

.display-block .tag {
    position: absolute;
    right: 10px;
    bottom: 5px;
    font-weight: bold;
    font-size: 14px;
    margin: 0;
}

.display-block .tag.dark {
    color: white;
    opacity: 0.5;
}

.section {
    display: block;
    padding: 0 20px;
    --link-color: #de3163;
}

.section.header-above {
    margin-top: 150px;
}

.section .label {
    margin: 0;
    padding: 20px 0;
    text-align: center;
}

.section .label .title {
    margin: 0;
    font-size: 24px;
    font-weight: bold;
}

.section .label .subtitle {
    margin: 0;
    font-size: 14px;
}

.section .text {
    line-height: 200%;
    padding: 10px 0;
    margin: 0;
}

.section .text.large {
    font-size: 32px;
}

.section .text.semilarge {
    font-size: 24px;
}

.section .text.medium {
    font-size: 20px;
}

.section .text.small {
    font-size: 16px;
}

.section .text.bold {
    font-weight: bold;
}

.section .text.center {
    text-align: center;
}

.section .text.left {
    text-align: left;
}

.section .text.right {
    text-align: right;
}

.section .text.spacious {
    padding-top: 32px;
    padding-bottom: 32px;
}

.section .bubbles {
    display: block;
}

.section .bubbles a {
    text-decoration: none;
    display: block;
    margin: 20px 0;
    padding: 0;
    opacity: 1;
    transition: opacity 150ms;
}

.section .bubbles a:hover {
    opacity: 0.6;
}

.section .bubble {
    height: 112px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px,
        rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
    color: black;
    padding: 4px 20px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.section .bubble.dark {
    color: white;
}

.section .bubble .title {
    font-size: 28px;
    font-weight: bold;
    margin: 0;
}

.section .bubble .description {
    font-size: 14px;
    margin: 0;
}

.section.width-small .content {
    max-width: 800px;
    margin: 0 auto;
}

.section.width-medium .content {
    max-width: 1000px;
    margin: 0 auto;
}

.section.height-medium {
    padding-top: 50px;
    padding-bottom: 50px;
}

.section.height-small {
    padding-top: 20px;
    padding-bottom: 20px;
}

.section .text a {
    color: var(--link-color);
    text-decoration: none;
}

.section .text a:hover {
    text-decoration: underline;
}

.section .subsection {
    padding: 20px;
}

.section .subsection .title {
    margin: 0;
    font-size: 20px;
}

.section .columns-3 {
    display: block;
    padding: 0;
}

.section .column {
    padding: 4px 0;
    margin: 12px 0;
}

.section .link-list p.title {
    font-weight: bold;
    font-size: 16px;
    margin: 4px 0;
    padding: 0;
}

.section .link-list ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.section .link-list li {
    font-size: 16px;
    line-height: 2;
}

.section .link-list li a {
    text-decoration: none;
    color: var(--link-color);
}

.section .link-list li a:hover {
    text-decoration: underline;
}

.continue-link {
    margin: 10px;
    text-align: center;
}

.continue-link p {
    font-size: 20px;
    font-weight: bold;
}

.continue-link a {
    color: #de3163;
    text-decoration: none;
    opacity: 0.5;
    transition: opacity 150ms;
}

.continue-link a:hover {
    opacity: 1;
}

.notice {
    display: block;
    margin: 20px auto;
    max-width: 800px;
}

.notice-contents {
    margin: 20px;
    border: 2px solid #ff4f4b;
    border-radius: 10px;
}

.notice .title {
    margin: 0;
    background: #ff4f4b;
    color: white;
    padding: 5px;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
}

.notice .description {
    margin: 0;
    font-size: 14px;
    padding: 10px;
}

.notice .description a {
    color: #ff4f4b;
    text-decoration: none;
}

.notice .description a:hover {
    text-decoration: underline;
}

.spacer.large {
    height: 300px;
}

.search-bar {
    display: block;
    margin: 0 auto;
    width: 200px;
    font: normal 24px Poppins;
    border: 2px solid silver;
    border-radius: 8px;
    width: 80%;
    max-width: 640px;
    padding: 5px 10px;
    outline: none;
    transition: border-color 150ms;
}

.search-bar:hover {
    /*border-color: black;*/
    cursor: not-allowed;
}

.search-bar:focus {
    border-color: #de3163;
}

@media only screen and (min-width: 800px) {
    .nav-links ul {
        margin: 0 10px;
    }

    #nav-links-desktop {
        margin-left: auto;
        margin-right: 50px;
        display: flex;
        align-items: center;
    }

    #nav-show {
        display: none;
    }

    #nav-overlay {
        display: none;
    }

    .nav-links ul.text li {
        display: inline-block;
        margin: 0 10px;
        font-size: 14px;
        font-weight: normal;
    }

    .nav-links ul.text li a {
        opacity: 1;
        transition: none;
    }

    .nav-links ul.text li a:after {
        display: block;
        content: '';
        border-bottom: 1px solid var(--nav-fg-c);
        transform: scaleX(0);
        transition: transform 250ms ease-out;
        transform-origin: 100% 50%;
    }

    .nav-links ul.text li a.active:after {
        display: block;
        content: '';
        border-bottom: 1px solid var(--nav-fg-c);
        transform: scaleX(1);
    }

    .nav-links ul.text li :not(a.active):hover:after {
        transform: scaleX(1);
        transform-origin: 0% 50%;
    }

    .nav-links ul.text li :not(a.active):focus:after {
        transform: scaleX(1);
        transform-origin: 0% 50%;
    }

    .nav-links ul.icon li a {
        opacity: 1;
        transition: opacity 150ms;
    }

    .nav-links ul.icon li a:hover {
        opacity: 0.6;
    }

    .nav-links li a i {
        font-size: 24px;
        vertical-align: middle;
        margin: 0;
    }

    .heading-block {
        padding: 250px 20px;
    }

    .heading-block.less-padding {
        padding: 100px 20px;
    }

    .heading-block .title {
        font-size: 64px;
    }

    .display-block {
        height: 320px;
    }

    .display-block .content {
        display: flex;
        width: 100%;
        align-items: center;
    }

    .display-block .image {
        flex: 40%;
    }

    .display-block .text {
        flex: 60%;
        text-align: left;
    }

    .display-block .text .title {
        font-size: 48px;
        font-weight: bold;
    }

    .display-block .text .links {
        text-align: left;
    }

    .display-block .tag {
        font-size: 18px;
        right: 20px;
        bottom: 10px;
    }

    .section .label {
        text-align: left;
    }

    .section .label.center {
        text-align: center;
    }

    .section .bubbles {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 20px;
    }

    .section .bubbles a {
        margin: 0;
    }

    .section .columns-3 {
        display: flex;
        flex-direction: row;
    }

    .section .column {
        padding: 4px 0;
        margin: 12px 0;
        flex: 1;
    }

    .notice .title {
        padding: 5px 20px;
        text-align: left;
    }
}

@media only screen and (min-width: 900px) {
    #nav-title {
        margin: 0 100px;
    }

    #nav-links-desktop {
        margin-right: 100px;
    }
}

body {
    font-family: Poppins;
    margin: 0;
}
