/* FONTS AND ROOT */

@font-face {
    font-family: Poppins;
    src: url(fonts/Poppins-Light.ttf);
    font-weight: normal;
}
@font-face {
    font-family: Poppins;
    src: url(fonts/Poppins-Regular.ttf);
    font-weight: 500;
}
@font-face {
    font-family: Poppins;
    src: url(fonts/Poppins-Medium.ttf);
    font-weight: bold;
}
@font-face {
    font-family: Poppins;
    src: url(fonts/Poppins-Bold.ttf);
    font-weight: 800;
}
:root {
    --header-foreground-dark: #000000E6;
    --header-foreground-light: #FFFFFFE6;
    --header-background-dark: #222222CC;
    --header-background-light: #FFFFFFCC;
    --header-fontsize-big: 32px;
    --header-fontsize-mid: 24px;
    --header-fontsize-small: 16px;
    --header-current: var(--header-foreground-dark)
}

/* NAVIGATION BAR */

#nav {
  overflow: hidden;
  background-color: var(--header-background-light);
  padding: 50px 10px;
  transition: 0.4s;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 99;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
}

#nav #title, #nav .page, #nav .divider {
  float: left;
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-size: var(--header-fontsize-small);
  line-height: 25px;
  color: var(--header-foreground-dark);
}

#nav .divider {
    color: #989898;
}

#nav #title {
  font-size: var(--header-fontsize-big);
  font-weight: bold;
  text-alignment: left;
  color: var(--header-foreground-dark);
  transition: 0.4s;
  padding-left: 75px;
}

#nav .page {
    height: 14px;
    display: inline-block;
}

#nav .page:after {
    display: block;
    content: '';
    border-bottom: 1px solid var(--header-current);
    transform: scaleX(0);
    transition: transform 250ms ease-out;
    transform-origin: 100% 50%;
}

#nav a.active:after {
    display: block;
    content: '';
    border-bottom: 1px solid var(--header-current);
    transform: scaleX(1);
}

#nav :not(a.active).page:hover:after {
  transform: scaleX(1);
  transform-origin: 0% 50%;
}

#nav-links {
  float: right;
  padding-right: 50px;
}

#footer {
    min-height: 150px;
    text-align: center;
    color: black;
    font-family: Poppins;
    font-weight: normal;
    font-size: 20px;
}

#footer a {
    color: black;
}

#footer .line {
    max-width: 100%;
    color: black;
    text-align: center;
    border: 3px solid gray;
    margin-top: 50px;
    margin-bottom: 50px;
}


/* CONTENT BLOCK */

.content {
    margin-top: 200px;
    padding: 0 15px 0 15px;
}

/* TITLE BLOCK */

.title-block {
    padding-top: 100px;
    padding-bottom: 150px;
}

.title-block img {
    margin: 0 auto;
    width: 256px;
    height: 256px;
    display: block;
}

.title-block .mega {
    font-weight: bold;
    font-size: 48px;
    text-align: center;
    margin: 0;
}

.title-block .mini {
    font-weight: normal;
    font-size: 28px;
    text-align: center;
    margin: 0;
}

/* HEADER BLOCKS */

.header-block {
    max-width: 1300px;
    margin: auto;
    position: relative;
}

.header-block.spacious {
    padding: 50px 0 250px 0;
}

.header-block .mega {
    font-weight: bold;
    font-size: 64px;
    text-align: center;
}

.header-block .mini {
    font-weight: normal;
    font-size: 24px;
    text-align: center;
}

.header-block .link {
    font-family: Poppins;
    font-weight: normal;
    font-size: 22px;
    color: #D2042D;
    text-decoration: none;
    margin-top: 50px;
    position: absolute;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.header-block .link:hover {
    color: gray;
}

/* NEWS BLOCK */

.news-block {
    max-width: 1300px;
    height: 360px;
    margin: auto;
    position: relative;
}

.news-block .mini {
    font-size: 20px;
    text-align: left;
}

.news-block .mini .aaa {
    font-weight: 800;
}

.news-block .main {
    font-weight: bold;
    font-size: 54px;
    text-align: center;
    line-height: 20%;
}

.news-block .sub {
    font-weight: normal;
    font-size: 28px;
    text-align: center;
}

.news-block .button {
    border: none;
    background-color: black;
    color: white;
    font-size: 18px;
    font-family: Poppins;
    font-weight: bold;
    width: 200px;
    height: 75px;
    text-align: center;
    line-height: 75px;
    text-decoration: none;
    margin: 0;
    padding: 0px;
    position: absolute;
    bottom: 0%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.news-block .button:hover {
    background-color: #333333;
}

.news-block img {
    margin: 0 auto;
    display: block;
    width: 64px;
    height: 64px;
}

.short-line {
    max-width: 1130px;
    color: black;
    text-align: center;
    border: 1px solid #808080;
    margin-top: 50px;
    margin-bottom: 50px;
}

.long-line {
    max-width: 1300px;
    color: black;
    text-align: center;
    border: 2px solid black;
    margin: 50px auto;
}

.long-line.text-above {
    margin-top: 0;
}

.long-line.text-below {
    margin-bottom: 0;
}

.line-sub {
    text-align: center;
    font-weight: bold;
    font-size: 16px;
    margin: 0;
    padding: 0;
}

/* SECTION */
.section {
    max-width: 1300px;
    margin: auto;
}

.section .large {
    font-weight: bold;
    font-size: 28px;
    text-align: center;
    padding: 20px 0;
}

.section .normaltext {
    font-weight: normal;
    font-size: 20px;
    text-align: center;
}

.section .dim {
    font-weight: normal;
    font-size: 16px;
    text-align: center;
    color: #505050;
    padding-top: 50px;
    padding-bottom: 20px;
}

.section .title {
    font-weight: normal;
    font-size: 28px;
    text-align: left;
}

.section .column2 {
    float: left;
    width: 50%;
    text-align: center;
}

.section .column3 {
    float: left;
    width: 33.33%;
    text-align: center;
}

.section .column4 {
    float: left;
    width: 25%;
    text-align: center;
}

.section .column2 .heading,
.section .column3 .heading,
.section .column4 .heading {
    font-weight: bold;
    font-size: 24px;
    margin-bottom: 0;
}

.section .column2 .normal,
.section .column3 .normal,
.section .column4 .normal {
    font-weight: normal;
    font-size: 16px;
    padding: 0 20px;
}

@media screen and (max-width: 600px) {
  .section .column2,
  .section .column3,
  .section .column4 {
    width: 100%;
  }
}

.section .row {
    padding: 20px 0;
}

.section .row:after {
    content: "";
    display: table;
    clear: both;
}

.section-line {
    max-width: 800px;
    color: black;
    text-align: center;
    border: 1px solid black;
    margin-top: 100px;
    margin-bottom: 100px;
}

/* SECTION STUFF */

.display-block {
    margin: 20px auto;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 20px;
    max-width: 1800px;
}

.left {
    float: left;
    width: 50%;
}

.right {
    float: left;
    width: 50%;
}

.section-header {
    font-family: Poppins;
    font-weight: bold;
    font-size: 48px;
    text-align: left;
}

.section-description {
    font-family: Poppins;
    font-weight: normal;
    font-size: 18px;
    text-align: left;
}

.section-link {
    font-family: Poppins;
    font-weight: normal;
    font-size: 18px;
    color: white;
    text-decoration: none;
    float: left;
    padding-right: 20px;
    padding-bottom: 10px;
}

.section-link::after {
    display: block;
    content: '';
    border-bottom: 1px solid white;
    padding-top: 5px;
}

.section-link:hover {
    color: #e0e0e0;
}

.section-link:hover::after {
    border-bottom: 1px solid #e0e0e0;
}

.section-light {
    color: white;
}

.section-dark {
    color: black;
}

/* HOVER */
.hover-wrap {
    position: relative;
}

.hover-wrap .hover-content {
    display: inline-block;
    visibility: hidden;
    position: absolute;
    bottom: 100%;
    left: 10%;
    right: 10%;
    background-color: #222222CC;
    color: white;
    width: 150px;
    height: auto;
    backdrop-filter: blur(2px);
    -webkit-backdrop-filter: blur(2px);
    border-radius: 5px;
    opacity: 0;
    transition: visibility 0.2s, opacity 0.2s ease-out;
    white-space: normal;
}

.hover-wrap .hover-content p {
    margin: 0;
    padding: 8px;
    text-align: center;
    font-family: Poppins;
    font-size: 14px;
    color: white;
}

.hover-wrap:hover .hover-content {
    display: inline-block;
    visibility: visible;
    opacity: 1;
}



html {
  scroll-padding-top: 80px;
}

body {
  font: normal 14px Poppins;
}
