.bg-img {
   
    min-height: 320px;
   
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
   
    position: relative;
   
    display: flex;
    align-items: center;

}

.bg-mcshaders1 {

    background: linear-gradient( rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2) ), url('/images/mcshaders1.png');

}

.bg-mcshaders2 {

    background: linear-gradient( rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2) ), url('/images/mcshaders2.png');

}

.bg-mcshaders3 {

    background: linear-gradient( rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2) ), url('/images/mcshaders3.png');

}

.bg-discord {

    background: url('/images/discord.png');

}

.bg-internet {

    background-color: black;

}

.image-dmslauncher {

    display: block;
    max-width: 95%;
    max-height: 95%;
    padding: 10px 0;
    margin: 0 auto;
    
}

.image-pluginstore1 {

    display: block;
    max-width: 80%;
    max-height: 80%;
    padding: 30px 0;
    margin: 0 auto;
    
}

.image-map1 {

    display: block;
    max-width: 75%;
    max-height: 75%;
    padding: 64px 0;
    margin: 0 auto;

}

.image-gamerbot {

    display: block;
    max-width: 50%;
    max-height: 50%;
    padding: 50px 0;
    margin: 0 auto;

}

.image-web {

    display: block;
    max-width: 45%;
    max-height: 45%;
    padding: 64px 0;
    margin: 0 auto;

}