@font-face {
  font-family: Nunito;
  src: url(/fonts/Nunito-ExtraLight.ttf);
  font-weight: 200;
}
@font-face {
  font-family: Nunito;
  src: url(/fonts/Nunito-Light.ttf);
  font-weight: 300;
}
@font-face {
  font-family: Nunito;
  src: url(/fonts/Nunito-Regular.ttf);
  font-weight: 400;
}
@font-face {
  font-family: Nunito;
  src: url(/fonts/Nunito-Medium.ttf);
  font-weight: 500;
}
@font-face {
  font-family: Nunito;
  src: url(/fonts/Nunito-Bold.ttf);
  font-weight: 700;
}
@font-face {
  font-family: Nunito;
  src: url(/fonts/Nunito-ExtraBold.ttf);
  font-weight: 800;
}
@font-face {
  font-family: Nunito;
  src: url(/fonts/Nunito-Black.ttf);
  font-weight: 900;
}
