<!-- just copy and paste ig -->

<div class="displayblock bg-mcshaders1 bg-img">
    
    <div class="left">
        <img class="image-dmslauncher" src="/images/dmslauncher.png"></img>
    </div>
            
    <div class="right">
        <p class="section-header section-light">DMSLauncher</p>
        <p class="section-description section-light">
        
        The DMSLauncher will automatically install your entire modded client
        based on the modded Minecraft server you're playing on and launch the game.
        It'll also keep your client updated with any new server mods. Available for
        macOS and Windows.
        
        </p>
        <a class="section-link" href="test">
        <i data-feather="arrow-up-right" style="vertical-align: middle;"></i>
        Learn more
        </a>
        
        <a class="section-link" href="https://github.com/dilanx/dmslauncher">
        <i data-feather="github" style="vertical-align: middle;"></i>
        View on GitHub
        </a>
    </div>

</div>