@use 'lib/theme.scss';

body {
  background-color: theme.$background;
  margin: 0;
  font-family: Inter;
}

.s.light {
  font-weight: 300 !important;
}

.s.medium {
  font-weight: 500 !important;
}

.s.bold {
  font-weight: bold !important;
}

.s.heavy {
  font-weight: 800 !important;
}

.s.italic {
  font-style: oblique !important;
}

.s.underline {
  text-decoration: underline !important;
}

.s.left {
  text-align: left !important;
}

.s.center {
  text-align: center !important;
}

.s.right {
  text-align: right !important;
}

.s.no-padding {
  padding: 0 !important;
}
